<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <h3>create vacancy</h3>
    <form method="post" action="vacancy/new">{% csrf_token %}
        <table>{{ vacancy_form.as_table }}</table>
        <button type="submit">create vacancy</button>
    </form>

    <h3>create resume</h3>
    <form method="post" action="resume/new">{% csrf_token %}
        <table>{{ resume_form.as_table }}</table>
        <button type="submit">create resume</button>
    </form>
</body>
</html>